{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mt-5 pt-5 mb-5">
        <h2> Add your transactions: </h2>
        <div class="text-center">
                {% include 'forms/transaction.html.twig' %}
        </div>
    </div>
{% endblock %}
