{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('transactionForm') }}
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mt-5 pt-5 mb-5">
        <h2> Add your transactions: </h2>
        <div class="text-center">
                {% include 'forms/transaction.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transactionForm') }}
{% endblock %}