{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mt-5 pt-5">
        <div class="card text-center">
            <div class="card-body">
                {% include 'forms/transaction.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
